.header {
    background-color: #f6f8fc;
    .header-img {
        width: 100%;
        max-width: 800px;
        padding: 0;
        margin: 0;
        display: block;
        -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
    }
}
