html,
body {
    margin: 0;
    padding: 0;
    line-height: 1.7em;

    @media print {
        a[href]:after {
            content: none !important;
        }
    }
}

html {
    body {
        * {
            @media print {
                overflow: visible;
            }
        }

        a {
            color: #0066cc;
            &.external {
                background: url(/images/external.png) center right no-repeat;
                padding-right: 15px;
            }
        }
        // basic layout,
        // don't add css here that is not layout related
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12.8px;
        min-width: 800px;
        .react-container {
            width: 100%;
            .app {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position: relative;

                .hidden {
                    display: none;
                }
                .centered {
                    text-align: center;
                }

                .header-links {
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    max-width: 620px;
                    width: 100%;
                    z-index: 50;
                    text-align: right;
                    padding-bottom: 10px;
                    padding-right: 6px;
                }

                .header {
                    min-height: 100px;
                    width: 100%;
                }
                .flex-container {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    flex-grow: 4;
                    background-color: #f1f1f1;
                    .main-content {
                        flex-grow: 4;
                        min-height: 450px;
                        min-width: 450px;
                        max-width: 79%;
                        background-color: white;
                        border-left: 1px solid black;
                        border-right: 1px solid black;
                        padding: 5px 20px;

                        .page-divider {
                            color: white;
                            width: 100%;
                            background-color: #0070c0;
                            margin: 0 auto;
                            h1 {
                                padding: 2px 5px;
                                font-size: 14px;
                            }
                        }

                        .title,
                        .page-header {
                            color: #0070c0;
                            font-weight: bold;
                            padding: 0;
                            margin: 0px;
                        }
                        .page-header {
                            line-height: 28px;
                            margin-bottom: 10px;
                            padding-top: 12px;
                        }
                    }
                }
                .footer-box {
                    align-self: flex-end;
                    width: 100%;
                    min-height: 110px;
                }
            }
        }
    }
}
