.glmol {
    width: 100%;

    .viewer-container {
        width: 64%;
        height: 500px;
        float: left;
        margin-bottom: 100px;
    }

    #glmol {
        background-color: lightgray;
        border: 1px solid gray;
        border-bottom: none;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .model-table {
        .table-loading {
            width: 20%;
        }

        float: right;
        width: 30%;

        > table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #e1e1e1;
            thead {
                border-bottom: 3px solid #999;
                > tr > th {
                    color: #115fa3;
                    background-color: #f0f5f6;
                    border-right: 1px solid lightgray;
                }
            }
            tbody {
                > tr {
                    &:hover {
                        cursor: pointer;
                    }
                    z-index: 1;
                    > td {
                        padding: 2px;
                        text-align: center;
                        border-top: 1px solid lightgrey;
                    }
                }
                > tr:nth-child(even) {
                    background-color: #eef3f5;
                }

                > tr.selected-row {
                    background-color: lightgray;
                }
            }
        }
    }

    .model-control-arrows {
        display: flex;
        text-align: center;
        padding: 0px;
        text-align: center;
        width: 100%;
        background-color: #f0f5f6;
        .arrow {
            padding: 8px 5px;
            font-size: 16px;
            border: 1px solid #06c;
            text-align: center;
            width: 100%;
            color: #06c;
            &:hover {
                cursor: pointer;
                color: #23527c;
                text-decoration: underline;
            }
        }
    }
}
