.cellpm-sidebar {
    background-color: #fff2cc;
    width: 165px;
    flex-grow: 0;
    flex-shrink: 0;
    border-left: 1px solid black;
    min-height: 450px;
    text-align: center;

    .server-banner {
        padding-top: 50px;
        width: 80%;
    }
}
