.contact {
    .contact-container {
        display: flex;
        justify-content: space-around;
        .contact-sect {
            margin-bottom: 1em;
            .contact-img {
                margin-bottom: 1em;
            }

            .contact-info {
                margin-bottom: 0;
                margin-top: 0.1em;
            }
            .name {
                font-weight: 500;
            }

            .role {
                font-weight: 500;
            }

            .address,
            .actual-contact-info {
                margin: 10px 0px 0px 0px;
            }
        }
    }

    ul {
        list-style-type: none;
        padding: 0px;

        li {
            margin: 20px 0px 0px 0px;
            select {
                margin-left: 20px;
            }

            input {
                margin-left: 20px;
                display: inline-block;
                padding: 5px;
            }
        }

        li.title {
            margin-top: 0px;
            margin-bottom: 40px;
            h3 {
                color: #b30000;
                font-weight: bold;
                border-bottom: 3px solid rgb(0, 102, 204);
                padding-bottom: 10px;
                margin-top: 0px;
            }
        }
    }
}
