.polarity {
    .polarity-fig {
        margin: 55px auto 0 auto;
        text-align: center;
        img {
            width: 70%;
        }
    }

    .references {
        margin-top: 50px;
        li {
            font-size: 12px;
            line-height: 1.35em;
        }
    }
}
