.biological-description {
    .page-nav {
        float: left;
        width: 40%;
    }

    .cell-anatomy-img {
        width: 48%;
    }
    .cell-membrane-img {
        width: 90%;
    }
    .endoplasmic-reticulum-img {
        width: 55%;
    }
    .golgi-img {
        width: 35%;
    }
    .archaebacteria-img {
        width: 23%;
        img {
            width: 100%;
        }
    }

    .references {
        margin-top: 50px;
        li {
            font-size: 12px;
            line-height: 1.35em;
            padding-bottom: 5px;
        }
    }
}
