.cellpm-server {
    .dark {
        background-color: lightgray;
    }

    .cellpm-form {
        margin-bottom: 20px;
        .cellpm-form-table {
            width: 90%;

            .form-section-header {
                font-size: 14px;
            }

            tbody > tr > td {
                padding: 2px 5px;
            }

            .options-section {
                padding-left: 10px;
                padding-right: 10px;
            }

            .output-info-list {
                color: gray;
                margin: 0;
                li {
                    line-height: 18px;
                }
            }
        }
    }

    .submit-success {
        text-align: center;
        margin: 0 auto;
        margin-top: 50px;
        width: 60%;
        border: 2px solid dimgray;
        padding: 75px 10px;
    }

    button {
        font-size: 12.8px;
        cursor: pointer;
    }

    .form-buttons {
        button {
            margin: 4px;
            padding: 8px;
            background-color: #f0f0f0;
        }
    }

    .input-subsection {
        margin-bottom: 8px;
    }

    .error-message {
        color: red;
    }

    .tab-buttons {
        text-align: center;
        width: 100%;
        button {
            padding: 8px;
            background-color: white;
            border: 2px solid dimgray;
            &.selected {
                background-color: gray;
                box-shadow: 3px 3px 4px gray;
            }
        }
    }

    .subtext {
        color: gray;
        font-weight: bold;
    }

    .user-input-container {
        margin: 0 8px;
        .text-input {
            font-size: 12.8px;
            width: 99%;
            min-height: 100px;
        }
        .file-input {
            margin: 5px;
        }
    }
}
