.footer {
    border-top: 2px solid black;
    align-self: flex-end;
    width: 100%;
    min-height: 100px;
    .maintext {
        text-align: center;
        width: 100%;
        padding-top: 10px;
    }
    margin-bottom: 20px;
}
